{% extends 'base.html.twig' %}

{% block title %} <title>Vista</title>  {% endblock %}
{% block body %}  
<br>
<br><br>
<table class="table table-dark table-bordered table-striped">
  <thead>
    <th>ID</th>
    <th>Nombre</th>
    <th>Tipo</th>
  </thead>
  <tbody>
 
    <tr>
        <td> {{ autor.id }} </td>
        <td> {{ autor.nombre }} </td>
        <td> {{ autor.tipo }} </td>
     </tr>

 
  </tbody>
   
</table>

    <a  class="btn btn-primary" href="{{ path('editorial') }}"  >Volver al listado</a>
    <a  class="btn btn-primary" href="{{ path('editorial-act', {id: autor.id}) }}">Actualizar</a>
    <a  class="btn btn-primary" href="{{ path('editorial-delete', {id: autor.id}) }}">Eliminar</a>


{% endblock %}