<ul>
            <a class="nav-link" href="{{ path('home') }}"><li>Home</li></a>
            <a class="nav-link" href="{{ path('login') }}"><li>Login</li></a>
            <a class="nav-link" href="{{ path('about_us') }}"><li>About Us</li></a>
            <a class="nav-link" href="{{ path('catalogo') }}"><li>Catalogo</li></a>
       </ul>

       <img src="{{ asset('images/Nako.gif') }}">