{% extends 'base.html.twig' %}

{% block title %} <title>Vista</title>  {% endblock %}
{% block body %}  
{{ include('menu.html.twig', { selectedMenu: 'home'}) }}
<br>
<br><br>
<table class="table table-dark table-bordered table-striped">
  <thead>
    <th>Nombre</th>
    
  </thead>
  <tbody>
 
    <tr>
        <td> {{ fondos.nombre }} </td>
        
     </tr>

 
  </tbody>
   
</table>

    <a  class="btn btn-primary" href="{{ path('editorial') }}"  >Volver al listado</a>
    <a  class="btn btn-primary" href="{{ path('editorial-act', {id: fondos.id}) }}">Actualizar</a>
    <a  class="btn btn-primary" href="{{ path('editorial-delete', {id: fondos.id}) }}">Eliminar</a>


{% endblock %}